__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
.pytest_cache/
instance/
.venv
env/
venv/
ENV/
.conda/
bili_cookie.txt
bili_cookie1.txt
bili_data.db
db.sqlite
*.csv
./flaskstarter/assets/chrome_user_data/
/flaskstarter/static/images
